.form__group.active-radio
  input.form__input-radio.input-radio(type="radio" name="radio-1" id="radio_1" value="Менее 50 кв м")
  label.form__label-radio(for="radio_1") Менее 50 кв м
.form__group
  input.form__input-radio.input-radio(type="radio" name="radio-1" id="radio_2" value="От 50 до 100 кв м")
  label.form__label-radio(for="radio_2") От 50 до 100 кв м
.form__group
  input.form__input-radio.input-radio(type="radio" name="radio-1" id="radio_3" value="Более 100 кв м")
  label.form__label-radio(for="radio_3") Более 100 кв м

