//- .form__group.active-checkbox
//-   input.form__input(type="checkbox" name="user_check_4" id="check_4" value="Недавно")
//-   label.form__label--checkbox(for="check_4") Недавно
//- .form__group
//-   input.form__input(type="checkbox" name="user_check_5" id="check_5" value="Полгода назад")
//-   label.form__label--checkbox(for="check_5") Полгода назад
//- .form__group
//-   input.form__input(type="checkbox" name="user_check_6" id="check_6" value="Более года назад")
//-   label.form__label--checkbox(for="check_6") Более года назад

.form__group.active-radio
  input.form__input-radio.input-radio(type="radio" name="radio-2" id="radio_4" value="Недавно")
  label.form__label-radio(for="radio_4") Недавно
.form__group
  input.form__input-radio.input-radio(type="radio" name="radio-2" id="radio_5" value="Полгода назад")
  label.form__label-radio(for="radio_5") Полгода назад
.form__group
  input.form__input-radio.input-radio(type="radio" name="radio-2" id="radio_6" value="Более года назад")
  label.form__label-radio(for="radio_6") Более года назад