label(for="label-choise-yes_first").form__label--radio.active-radio
  input.form__radio(type="radio" id="label-choise-yes_first" name="choise-first" value="Да")
  .form__choise
    .form__image
      img(src="./images/quiz_1.jpg" alt="foto__yes") 
    .form__answer Да 
label(for="label-choise-no_first").form__label--radio
  input.form__radio(type="radio" id="label-choise-no_first" name="choise-first" value="Нет")
  .form__choise
    .form__image
      img(src="./images/quiz_2.jpg" alt="foto__no")
    .form__answer Нет  