.quiz__position
  .quiz__position--bg
    span.quiz__position--on Тест пройден на
    .quiz__position--percent
      span#quiz__position--percent__change 25%
    span.quiz__position--find-out Узнайте, какая скидка ждет вас в конце теста!
    .quiz__position--image