.quiz__body
  form(action="#" method="post").form.quiz__body--form
    fieldset.form__fieldsert.active(style="display: block")
      .form__title Ваша квартира после ремонта?
      .form__wrap
            include form-radio
      .form__button.form__button--indent
        button.button.form-button__btn-next Далее
    fieldset.form__fieldsert(style="display: none")
    fieldset.form__fieldsert(style="display: none")
    fieldset.form__fieldsert(style="display: none")
    fieldset.form__fieldsert(style="display: none")
