.sending__message--title Заполните форму, что бы получить подарок!
p.sending__message--text Мы проанализировали Ваши ответы. Результат теста
input(type="hidden" value="Требуется уборка после ремонта")#recomendation
.sending__message--result Требуется уборка после ремонта
.sending__message--bonus Ваш бонус:
.sending__message--wrapper
  img(src="./images/order-bg.png" alt="order-bg")
  input(type="hidden" name="discount" value="Cертификат 1000 руб на уборку после ремонта")#discount
  p.sending__message--wrapper-text Cертификат 1000 руб на уборку после ремонта
.sending__message--prezent
  img(src="./images/prezent2.png" alt="prezent2").sending__message--image