$color-message:  #595354;

.sending__message--title {
  font-weight: normal;
  font-size: 1.6875rem;
  line-height: 37px;
  color: $color-message;
  margin-bottom: 15px;

  @media (max-width: 480px) {
    font-size: 1.375rem;
    line-height: 28px;
  }
}

.sending__message--text {
  line-height: 22px;
  color: $color-message;
  margin-bottom: 15px;
}

.sending__message--result {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 27px;
  color: $second;
  margin-bottom: 27px;
}

.sending__message--bonus {
  color: $color-message;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 27px;
  margin-bottom: 17px;
}

.sending__message--wrapper {
  position: relative;
  max-width: 325px;
  margin-bottom: 17px;
}

.sending__message--wrapper-text {
  @include centerer-xy();
  font-family: 'Nautilus__Pompilius--regular', cursive;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 142.1%;
  text-align: center;
  max-width: 235px;
  width: 100%;
  margin: 0 auto;
}

.sending__message--prezent {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 610px;

  @media (max-width: 1250px) {
    margin-right: 520px;
  }

  @media (max-width: 1170px) {
    display: none;
  }
}